* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
   font-family: Imprima;
  font-weight: Regular;
}
.v705_81 {
  width: 100%;
  height: 1024px;
  background: rgba(207,180,185,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.mainDiv {
  width: 532px;
  height: 58px;
  background: url("../images/v2979_168.png");
  background: no-repeat;
  background: center center;
  background: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 801px;
  overflow: hidden;
}
.store {
  width: 111px;
  color: rgba(120,84,96,1);
  position: absolute;
  top: 0px;
  left: 421px;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.order {
  width: 122px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 247px;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.aboutUs {
  width: 195px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.subDiv1 {
  width: 100%;
  height: 766px;
  background: url("../images/v2979_181.png");
  background: no-repeat;
  background: center center;
  background: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 103px;
  overflow: hidden;
}
.subDiv2 {
  width: 270px;
  height: 328px;
  background: url("../images/v2979_180.png");
  background: no-repeat;
  background: center center;
  background: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.subDiv3 {
  width: 270px;
  height: 270px;
  background: url("../images/v705_100.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.price30 {
  width: 78px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 270px;
  left: 96px;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.cake1 {
  width: 270px;
  height: 328px;
  background: url("../images/v2979_171.png");
  background: no-repeat;
  background: center center;
  background: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 330px;
  overflow: hidden;
}
.price1 {
  width: 270px;
  height: 270px;
  background: url("../images/v705_101.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.price20 {
  width: 78px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 270px;
  left: 96px;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.cake2 {
  width: 270px;
  height: 328px;
  background: url("../images/v2979_172.png");
  background: no-repeat;
  background: center center;
  background: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 660px;
  overflow: hidden;
}
.price2 {
  width: 270px;
  height: 270px;
  background: url("../images/v705_102.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.price15 {
  width: 78px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 270px;
  left: 96px;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.cake3 {
  width: 270px;
  height: 328px;
  background: url("../images/v2979_173.png");
  background: no-repeat;
  background: center center;
  background: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 990px;
  overflow: hidden;
}
.price3 {
  width: 270px;
  height: 270px;
  background: url("../images/v705_103.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.price40 {
  width: 78px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 270px;
  left: 96px;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.cake4 {
  width: 270px;
  height: 349px;
  background: url("../images/v2979_175.png");
  background: no-repeat;
  background: center center;
  background: cover;
  opacity: 1;
  position: absolute;
  top: 417px;
  left: 6px;
  overflow: hidden;
}
.price4 {
  width: 270px;
  height: 270px;
  background: url("../images/v705_96.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.price10 {
  width: 78px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 291px;
  left: 90px;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.cake5 {
  width: 270px;
  height: 349px;
  background: url("../images/v2979_176.png");
  background: no-repeat;
  background: center center;
  background: cover;
  opacity: 1;
  position: absolute;
  top: 417px;
  left: 333px;
  overflow: hidden;
}
.price5 {
  width: 270px;
  height: 270px;
  background: url("../images/v705_97.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.price35 {
  width: 78px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 291px;
  left: 93px;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.cake6 {
  width: 270px;
  height: 349px;
  background: url("../images/v2979_177.png");
  background: no-repeat;
  background: center center;
  background: cover;
  opacity: 1;
  position: absolute;
  top: 417px;
  left: 660px;
  overflow: hidden;
}
.price6 {
  width: 270px;
  height: 270px;
  background: url("../images/v705_98.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.price50 {
  width: 78px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 291px;
  left: 96px;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.cake7 {
  width: 270px;
  height: 349px;
  background: url("../images/v2979_178.png");
  background: no-repeat;
  background: center center;
  background: cover;
  opacity: 1;
  position: absolute;
  top: 417px;
  left: 987px;
  overflow: hidden;
}
.price7 {
  width: 270px;
  height: 270px;
  background: url("../images/v705_99.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.price45 {
  width: 78px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 291px;
  left: 113px;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.cake8 {
  width: 43px;
  height: 43px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
  overflow: hidden;
}
.price8 {
  width: 12px;
  height: 24px;
  background: url("../images/v2451_30.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 16px;
  border: 1.875px solid rgba(248,248,248,1);
}
